.maps__nav > ul > li {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.what__body > h4, .why__body__text-block > h1 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.what__body__info-block__text > p, .grand__body__text-block > p, .grand-two__body__text-block > p, .why__body__text-block > p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.footer__body__text__title, .what__body__info-block__text > h3, .grand__body__text-block > h3, .grand-two__body__text-block > h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.grand__body__text-block > button, .grand-two__body__text-block > button, .why__body__text-block > button {
  display: flex;
  padding: 20px 32px;
  background-color: #5373FD;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #FFFFFF;
}
.grand__body__text-block > button:hover, .grand-two__body__text-block > button:hover, .why__body__text-block > button:hover {
  background-color: #4e64c7;
  filter: drop-shadow(0 0 6px #6074c2);
  transition: all 0.1s ease-in-out;
}
.grand__body__text-block > button:hover:active, .grand-two__body__text-block > button:hover:active, .why__body__text-block > button:hover:active {
  background-color: #5a68a9;
}

.maps__nav > ul > li {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.what__body > h4, .why__body__text-block > h1 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.what__body__info-block__text > p, .grand__body__text-block > p, .grand-two__body__text-block > p, .why__body__text-block > p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.footer__body__text__title, .what__body__info-block__text > h3, .grand__body__text-block > h3, .grand-two__body__text-block > h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.grand__body__text-block > button, .grand-two__body__text-block > button, .why__body__text-block > button {
  display: flex;
  padding: 20px 32px;
  background-color: #5373FD;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #FFFFFF;
}
.grand__body__text-block > button:hover, .grand-two__body__text-block > button:hover, .why__body__text-block > button:hover {
  background-color: #4e64c7;
  filter: drop-shadow(0 0 6px #6074c2);
  transition: all 0.1s ease-in-out;
}
.grand__body__text-block > button:hover:active, .grand-two__body__text-block > button:hover:active, .why__body__text-block > button:hover:active {
  background-color: #5a68a9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  padding: 0 30px;
  max-width: 1380px;
  margin: 0 auto;
}

.logo a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.header {
  background: lightskyblue url("../images/headerBackground.png") center/cover no-repeat;
  height: 100vh;
  min-height: 800px;
  padding: 295px 0 0 0;
}
.header__body {
  display: flex;
  flex-direction: column;
}
.header__body__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 48px;
}
.header__body__text > h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__body__text > p {
  top: 355px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  color: #FFFFFF;
}
.header__search-form {
  margin: 0 auto;
  position: relative;
  width: 647px;
}
.header__search-form > input {
  position: absolute;
  left: 0;
  right: 0;
  height: 59px;
}
.header__search-form > input::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
  padding: 20px 0;
}
.header__search-form > input[type=search] {
  font-size: 20px;
  padding: 0 150px 0 36px;
}
.header__search-form > button {
  position: absolute;
  top: 4px;
  right: 4px;
  gap: 12px;
  max-width: 140px;
  border: none;
  display: flex;
  padding: 16px 24px;
  background: #5373FD;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__search-form > button:hover {
  background-color: #4e64c7;
}
.header__search-form > button:active svg {
  position: relative;
  top: 1px;
  left: 1px;
  filter: drop-shadow(0 0 5px #41416b);
  transition: all 0.1s ease-in-out;
}
.header__search-form > button > svg {
  fill: #FFFFFF;
  width: 16px;
  height: 16px;
}
.header__footer {
  padding-top: 200px;
  align-items: center;
}
.header__footer > p {
  text-align: center;
}
.header__footer > p > a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}
.header__footer > p > a:hover {
  filter: drop-shadow(10px 10px 10px #b0a7a7);
  transition: 0.5s;
}
.header__footer > p:after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/svg/arrow.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translate(-50%);
}
.header__footer > p:after:hover {
  transform: translateX(10px);
}

.maps {
  background: #5373FD;
}
.maps__logo {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.maps__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maps__nav > ul {
  display: flex;
  gap: 40px;
}
.maps__nav > ul > li {
  padding: 32px 0;
}
.maps__nav > ul > li > a {
  color: #FFFFFF;
  position: relative;
}
.maps__nav > ul > li > a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  background-color: #ffffff;
  transform: scaleX(0);
}
.maps__nav > ul > li > a:hover::after {
  transform: scaleX(1);
}

.why {
  background: lightskyblue url("../images/whyBackground.png") no-repeat;
  background-size: cover;
  padding: 124px 0;
}
.why__body {
  display: flex;
  justify-content: space-around;
}
.why__body__text-block {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  width: 100%;
  height: 100%;
  max-width: 648px;
}
.why__body__text-block > h1 {
  padding-bottom: 24px;
}
.why__body__text-block > p {
  padding-bottom: 32px;
}
.why__body__img-block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.why__body__img-block > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-right: 74px;
}
.why__body__img-block img:last-child {
  padding-left: 74px;
  padding-right: 0;
}

.banner {
  background: #333333;
}
.banner__body {
  padding: 110px 0 60px;
  display: grid;
  grid-template-columns: repeat(3, 424px);
  justify-content: center;
  align-items: center;
  background: url("../images/svg/line.svg") top 60px center no-repeat;
  background-size: 872px auto;
}
.banner__body__svg-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.banner__body__svg-section svg {
  width: 96px;
  height: 96px;
  padding: 16px;
  background: #333333;
}
.banner__body__svg-section > p {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

.grand, .grand-two {
  background: mediumpurple url("../images/grandBackround.png") center/cover no-repeat;
  min-height: 684px;
  height: 100%;
  padding: 220px 0 120px;
}
.grand__body, .grand-two__body {
  display: flex;
}
.grand__body__text-block, .grand-two__body__text-block {
  max-width: 50%;
  padding: 44px 32px;
  background: rgba(35, 35, 35, 0.9);
  height: 100%;
}
.grand__body__text-block > p, .grand-two__body__text-block > p {
  padding: 1px;
}
.grand__body__text-block > h3, .grand-two__body__text-block > h3 {
  padding: 16px 0;
}
.grand__body__text-block > button, .grand-two__body__text-block > button {
  margin-top: 24px;
}

.grand-two {
  background: darkorange url("../images/grandBackroundTwo.png") center/cover no-repeat;
}
.grand-two__body {
  justify-content: end;
}

.what {
  background: url("../images/whatBackround.png") center/cover no-repeat;
  padding: 120px 0 160px;
}
.what__body > h4 {
  text-align: center;
  padding: 0 0 60px;
}
.what__body__info-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.what__body__info-block__img-block > img {
  height: 100%;
  object-fit: cover;
  display: block;
  width: 100%;
  object-position: top;
}
.what__body__info-block__text {
  display: block;
  background: #333333;
  height: auto;
  padding: 48px 60px;
}
.what__body__info-block__text > h3 {
  padding-bottom: 16px;
}
.what__body__info-block__text > p {
  position: relative;
}
.what__body__info-block__text > p > span {
  padding-left: 35px;
}
.what__body__info-block__text > p > span:before {
  content: "";
  background-image: url("../images/svg/quote-left.svg");
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
}

.footer {
  background: black;
}
.footer__body {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  align-items: center;
}
.footer__body__text__title {
  letter-spacing: 0.1em;
  padding-bottom: 8px;
  text-align: center;
}
.footer__body__text__subtitle {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}
.footer__body__links > ul {
  display: flex;
  gap: 30px;
}
.footer__body__links > ul > li svg {
  width: 30px;
  height: 30px;
  fill: white;
}
.footer__body__links > ul > li svg:hover {
  fill: #5373FD;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.6);
  transition: 0.2s linear;
  transform: scale(1.1, 1.1);
}

/*# sourceMappingURL=main.css.map */
